<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="">
  <meta name="description" content="">
  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;300;600;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}" type="text/css">
  <script src="{% static 'main/js/script.js' %}"></script>
  <title>NewFactory.{% block title %}ca{% endblock %}</title>
</head>
<body>
  <section>
    {% include "main/includes/header.html" %}
    {% include "main/includes/navigation.html" %}
    <div class="glass"></div>
    <video src="/static/main/video/backvideo.mp4" autoplay muted loop></video>
    {% block content %}{% endblock %}
  </section>
</body>
</html>
