<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="">
  <meta name="description" content="">
  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;300;600;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}" type="text/css">
  <title>NewFactory.{% block title %}ca{% endblock %}</title>
</head>

<body>
  <section>
    <header>
      <a href="#" class="logo">New Factory</a>
      <div class="toggle" onclick='menuToggle()'></div>
    </header>
    <div class="glass"></div>
    <div class="content">
      <h2>New style...<br><span>Crystal clear</span></h2>
    </div>
    <video src="/static/main/video/mountain.mp4" autoplay muted loop></video>
    <ul class="sci">
      <li style="--i:1"><a href="https://www.facebook.com/NewFactory.ca">Facebook</a></li>
      <li style="--i:2"><a href="https://twitter.com/NewFactory_ca">Twitter</a></li>
      <li style="--i:3"><a href="https://www.instagram.com/NewFactory.ca/">Instagram</a></li>
    </ul>
    <ul class="navigation">
      <li style="--i:1"><a href="#">Home</a></li>
      <li style="--i:2"><a href="#">Projects</a></li>
      <li style="--i:3"><a href="#">About</a></li>
      <li style="--i:4"><a href="#">Contact</a></li>
    </ul>
  </section>
  <script type="text/javascript">
    function menuToggle(){
      const toggleMenu = document.querySelector('.toggle');
      toggleMenu.classList.toggle('active');
      const section = document.querySelector('section');
      section.classList.toggle('active');
    }
  </script>
</body>

</html>
