@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: #f7f4ef;
  font-family: 'Archivo', sans-serif;
}

h1, h2, h3 {
  text-align: center;
}

/* .header a {
  color: #fff
} */



.header {
  height: 100px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 8fr;
  align-items: center;
}

.jumbotron_top {
  height: 80px;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.header_logo {
  height: 100px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background-color: #e38b41;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);

}

.header_menu_item {
  display: grid;
  grid-template-columns: repeat(3, auto);
  font-size: 1.5em;
  margin-right: 3em;
}

.header_menu_user {
  justify-self: end;
}

a.button {
  border-radius: 100px;
  border: 2px solid blue;
  padding: 5px 22px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

a.button:hover {}

a.button:active {}

.jumbotron_center {
  /* background-image: url(https://cs5.pikabu.ru/images/previews_comm/2015-02_6/14251235534107.jpg); */
  /* background-blend-mode: multiply; */
  /* background-size: auto; */
  /* position: relative; */
  color: #e38b41;
  text-align: center;
  background-color: #3a2f2d;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.jumbotron_bottom {
  height: 10%;
  width: 80%;
  top: 40px;
  margin-right: auto;
  margin-left: auto;
  color: #2c211f;
  position: relative;
  z-index: 1;
  font-weight: bold;
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
  background-color: #e38b41;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.catalog {
  margin: 30px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, auto);
}

.catalog_title {
  display: grid;
}

.footer {
  width: 100%;
  height: 100px;
  padding: 5em;
  position: relative;
  color: #fff;
  /* background-image: url(https://cs5.pikabu.ru/images/previews_comm/2015-02_6/14251235534107.jpg);
  background-blend-mode: multiply; */
  background-color: #2c211f;
  background-size: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 6fr;
  /* grid-template-rows: 1fr 1fr; */
}

.footer_copyright {}

.footer_menu {
  display: grid;
  grid-template-rows: repeat(5, auto);
}

.footer a {
  color: #fff;
}
