*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: #00010B;
  font-family: 'Encode Sans', sans-serif;
}

h1, h2, h3, a {
  font-weight: 300;
  text-align: center;
  color: #fff;

}

.header {
  height: 50px;
  background-color: #000;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 8fr;
  align-items: center;
}

.header_logo {
  height: 100px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  background-color: #000;
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1); */
}

.header_menu_item {
  display: grid;
  grid-template-columns: repeat(3, auto);
  font-size: 1.5em;
  margin-right: 3em;
}

.jumbotron_top {
  height: 80px;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1); */
}

.jumbotron_center {
  height: 500px;
  background-image: url("/static/main/img/winter.jpg");
  background-blend-mode: multiply;
  background-size:cover;
  position: relative;
  color: #fff;
  text-align: center;
  background-color: #08384F;
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1); */
}

.jumbotron_bottom {
  height: 10%;
  width: 80%;
  top: 40px;
  margin-left: auto;
  margin-right: 0;
  color: #fff;
  position: relative;
  z-index: 1;
  font-weight: bold;
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
  background-color: #0B001E;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.footer {
  width: 100%;
  height: 200px;
  padding: 5em;
  position: relative;
  color: #fff;
  /* background-image: url(static/winter.jpg);
  background-blend-mode: multiply; */
  background-color: #000B5C;
  background-size: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 6fr;
  /* grid-template-rows: 1fr 1fr; */
}

.footer_copyright {}

.footer_menu {
  display: grid;
  grid-template-rows: repeat(5, auto);
}
